<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid container">
    <div class="image pe-2">
        <a href="/" id="navbarVoltarInicio">
            <img src="/static/icones/logo-optin.png" class="img-fluid" width="150">
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <!-- <a class="nav-link" aria-current="page" href="/">Inicio</a> -->
                <a class="nav-link dropdown-toggle" href="/" id="navbarInicioMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/static/icons_bootstrap/house-fill.svg" alt="Bootstrap"> Início
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarInicioMenuLink">
                    <li>
                        <a class="dropdown-item" href="#">
                            <img src="/static/icons_bootstrap/building.svg" alt="Bootstrap"> Administrativo
                        </a>
                    </li>
                     <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">
                            <img src="/static/icons_bootstrap/archive.svg" alt="Bootstrap"> Cadastros
                        </a>
                    </li>
                    <!-- SubMenu de Cadastro Operadoras -->
                    <li><a class="dropdown-item" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <img src="/static/icons_bootstrap/reception-3.svg" alt="Bootstrap"> Operadoras de Telefonia
                        </a>
                    </li>
                    <!-- SubMenu de Cadastro -->
                    <li><a class="dropdown-item" href="{{ url_for ('cad_Servers') }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <img src="/static/icons_bootstrap/server.svg" alt="Bootstrap"> Servidor
                        </a>
                    </li>

                    <li><a class="dropdown-item" href="{{ url_for ('cad_Modules') }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <img src="/static/icons_bootstrap/cpu-fill.svg" alt="Bootstrap"> Módulos
                        </a>
                    </li>
                     <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">
                            <img src="/static/icons_bootstrap/gear-fill.svg" alt="Bootstrap"> Configurações
                        </a>
                    </li>
                    <!-- SubMenu de Cadastro -->
                    <li><a class="dropdown-item" href="{{ url_for ('cad_conf_xmls') }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <img src="/static/icons_bootstrap/filetype-xml.svg" alt="Bootstrap"> Configurar XMLs
                        </a>
                    </li>
                     <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">
                            <img src="/static/icons_bootstrap/clipboard-data.svg" alt="Bootstrap"> Relatórios
                        </a>
                    </li>
                    <!-- SubMenu de Cadastro -->
                    <li><a class="dropdown-item" href="{{ url_for ('cad_conf_xmls') }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <img src="/static/icons_bootstrap/send-check-fill.svg" alt="Bootstrap"> Envio de Mensagens Por Operadora
                        </a>
                    </li>
                </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for ('usuarios') }}">
                <img src="/static/icons_bootstrap/people-fill.svg" alt="Bootstrap"> Usuários
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for ('consultarDados') }}">
                <img src="/static/icons_bootstrap/telephone-inbound.svg" alt="Bootstrap"> Consultar Dados
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for ('minhalocalizacao') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-geo-alt text-danger" viewBox="0 0 20 20">
                  <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                  <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>Minha Localização
            </a>
          </li>
      </ul>
      <ul class="d-flex navbar-nav">
          {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for ('perfil') }}">
                    <img src="/static/icons_bootstrap/person-badge.svg" alt="Bootstrap"> Meu Perfil
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for ('sair') }}">
                    <img src="/static/icons_bootstrap/door-closed-fill.svg" alt="Bootstrap"> Sair
                </a>
              </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for ('login') }}">
                <img src="/static/icons_bootstrap/door-open-fill.svg" alt="Bootstrap"> Login</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for ('login') }}">
                <img src="/static/icons_bootstrap/person-plus-fill.svg" alt="Bootstrap"> Criar Conta
            </a>
          </li>
      </ul>
    </div>
  </div>
</nav>